script(
  type='text/javascript'
  src='/pwt/custom.js'
 )
 
script(src='/pwt/PapsClient.js')
 
link(type='text/css' rel='stylesheet' href='/pwt/PwtCustom.css')
 
script(src='/pwt/chart/chart.min.js')
script(src='/pwt/chart/chartjs-plugin-datalabels@2.js')
script Chart.register(ChartDataLabels)
script(src='/pwt/chart/chartjs-plugin-annotation.min.js')
script(src='/pwt/chart/moment@^2.js')
script(src='/pwt/chart/chartjs-adapter-moment@^1.js')
script(src='/pwt/chart/PwtCharts.js')

script(src='/pwt/jquery.min.js')
link(type='text/css' rel='stylesheet' href='/pwt/DataTables/datatables.min.css')
script(src='/pwt/DataTables/datatables.min.js')


